<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Text Summarization with Sentiment Analysis</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

  <div class="container">
    <h1 class="title">SENTIMENTAL ANALYSIS</h1>
    

    <div class="text-container boxed">
      

      <div class="box-1 summarized-text summarized .box-summerized">

        <textarea class="form-control color2" rows="7" placeholder="Summarized Text" readonly>{{ summary }}</textarea>
      </div>
    </div>

<div class="sent-text">
    <div ><h4>postive</h4></div>
    <div><h4>score: {{sentiment}}</h4></div>
</div>

<div class="text-start">
  <button type="button" class="btn " id="btn_r" name="sentiment-btn"><</button>
</div>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
